<div class="row">
    <div class="col-12 col-md-4">
        <mat-card class="skill-block">
            <mat-card-header>
                <i mat-card-avatar class="fa fa-mobile-alt accent-color fa-2x"></i>
                <mat-card-title>Web</mat-card-title>

            </mat-card-header>
            <mat-card-content>
                <p>
                    Experience in developing web
                </p>
            </mat-card-content>

        </mat-card>
    </div>
    <div class="col-12 col-md-4">
        <mat-card class="skill-block">
            <mat-card-header>
                <i mat-card-avatar class="fa fa-tablet-alt accent-color fa-2x"></i>
                <mat-card-title>Responsive</mat-card-title>

            </mat-card-header>
            <mat-card-content>
                <p>
                    Experience in developing responsive web design
                </p>
            </mat-card-content>

        </mat-card>
    </div>
    <div class="col-12 col-md-4">
        <mat-card class="skill-block">
            <mat-card-header>
                <i mat-card-avatar class="fa fa-desktop accent-color fa-2x"></i>
                <mat-card-title>Design</mat-card-title>

            </mat-card-header>
            <mat-card-content>
                <p>
                    Desinging Skills
                </p>
            </mat-card-content>

        </mat-card>
    </div>
</div>

<mat-divider class="my-3"></mat-divider>

<div class="row">
    <div class="col-12 col-sm-6 col-md-8">
        <h3>About Me</h3>
        <p> I'm a application developer and have implemented multiple software solutions such as web solutions and mobile application
            development across small to large complex global organisations. My career spans over industries such as financial,healthcare,banking
            and telecommunication services. I have undertaken various roles in software development projects using agile
            and scrum methodologies. </p>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="mb-3">
            <strong>HTML5 & CSS3</strong>
            <span class="float-right">100%</span>
            <mat-progress-bar value="100"></mat-progress-bar>
        </div>
        <div class="mb-3">
            <strong>BOOTSTARP</strong>
            <span class="float-right">80%</span>
            <mat-progress-bar value="80" color="accent"></mat-progress-bar>
        </div>
        <div class="mb-3">
            <strong>UX DESIGN</strong>
            <span class="float-right">70%</span>
            <mat-progress-bar value="70" color="warn"></mat-progress-bar>
        </div>
    </div>
</div>

<div>
    <div class="row mt-5">
        <div class="col-3  text-center">
            <i class="fab fa-angular fa-10x angular-color d-none d-md-block"></i>
        </div>
        <div class="col-12 col-md-9">
            <h2>
                <i class="fab fa-angular angular-color d-md-none mr-2"></i>Angular Development</h2>
            <p>Worked on multiple projects with Angular versions ranging from 2 to 8</p>
            <p></p>
            <button mat-stroked-button>View More</button>
        </div>
    </div>
</div>
<div>
    <div class="row mt-5">
        <div class="col-12 col-md-9 text-right">
            <h2>
                <i class="fab fa-react react-color d-md-none mr-2 "></i>React Development</h2>
            <p>Have hands on experience in working with React and Redux</p>
            <p></p>
            <button mat-stroked-button> View More</button>
        </div>
        <div class="col-3 text-center">
            <i class="fab fa-react fa-10x react-color d-none d-md-block"></i>

        </div>
    </div>
    <div>
        <div class="row mt-5">
            <div class="col-3 text-center">
                <i class="fab fa-vuejs fa-10x vue-color d-none d-md-block"></i>
            </div>
            <div class="col-12 col-md-9">
                <h2>
                    <i class="fab fa-vuejs vue-color d-md-none mr-2"></i>Vue Development</h2>
                <p>Currently Learning by doing projects in my spare time</p>
                <p></p>
                <button mat-stroked-button>View More </button>
            </div>
        </div>
    </div>

    <mat-divider class="my-3"></mat-divider>